<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>691728702739-q44aatq86jk0srqn1b4boqe9h3s08ktd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.691728702739-q44aatq86jk0srqn1b4boqe9h3s08ktd</string>
	<key>API_KEY</key>
	<string>AIzaSyDXZjYTg8TVT3UwPd7z82Q9amOIpk2ldYw</string>
	<key>GCM_SENDER_ID</key>
	<string>691728702739</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MADS21.firebaseFollowAlong</string>
	<key>PROJECT_ID</key>
	<string>test-63130</string>
	<key>STORAGE_BUCKET</key>
	<string>test-63130.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:691728702739:ios:f82f833cb69f7c48c28ee6</string>
</dict>
</plist>