<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Regurgitates</string>
	<string>Penetrator</string>
	<string>Crossbreeding</string>
	<string>Uninspiring</string>
	<string>Dieting</string>
	<string>Grassing</string>
	<string>Symbolized</string>
	<string>Elaborating</string>
	<string>Benefactors</string>
	<string>Kappas</string>
	<string>Finings
</string>
	<string>Babkas
</string>
	<string>Unprintable
</string>
	<string>Aftermath
</string>
	<string>Blithesome
</string>
	<string>Phantasy
</string>
	<string>Vividness
</string>
	<string>Halcyon
</string>
	<string>Hotheaded
</string>
	<string>Majestic
</string>
	<string>Natty
</string>
	<string>Zippy
</string>
	<string>Whimsical
</string>
	<string>Lotted
Regathering
Finings
Babkas
Unprintable
Aftermath
Blithesome
Phantasy
Vividness
Halcyon
Hotheaded
Majestic
Natty
Zippy
Whimsical
</string>
	<string>Regathering
</string>
</array>
</plist>
